body {
    background-image: url("img/topography/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
    background-attachment: fixed;
    background-size: 340px, auto;
    background-position: center;
    background-size: cover;
    font-size: 10px;
    font-family: 'Merriweather Sans', sans-serif; 
    -webkit-font-smoothing: antialiased; 

}
button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

img {
  max-width: 100%;
}

/* .wrapper */

.all {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "hero hero cta1"
    "hero hero cta2"
}

.hero {
  grid-area: hero;
  min-height: 390px;
  background: white url(img/little-lagos.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 7px;
}

.hero > * {
  background:#ffc600;
  padding: 7px;
}

.cta {
  background: #ffc600;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.cta p {
  margin: 0;
}

.cta1 {
  grid-area: cta1;
  background: #ffc600;
  border-radius: 7px;
}

.cta2 {
  grid-area: cta2;
  background:#ffc600;
  border-radius: 7px;
}

.price {
  font-size: 60px;
  font-weight: 100;
  text-align: center;
}
.a{
  text-align: center;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */

.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  font-weight: bold;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: #ffc600;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}
  

[aria-controls="menu-list"] 
{
  display: none;
}

/* Features! */

.features {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.feature .icon {
  font-size: 70px;
}
.feature p {
  color: black;
}

/* About Section */

.about {
  background: white;
  padding:50px;
  display: grid;
  grid-template-columns: 400px 1fr;
  align-items: center;
}

/* Gallery! */
.t-block { }
.t-img { margin-bottom: 20px; }
.t-img img { border-radius: 8px; }

.container {
  display: grid;
  grid-gap: 20px;
}

.page-caption { 
  padding-top: 37px; 
  padding-bottom: 37px; 
  color: #121113; 
  background-color: #ffc600;
  text-align: center; 
  width: 100%; 
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px;
}


@media (max-width: 1000px) {
  .menu {
    perspective: 800px;
  }
  [aria-controls="menu-list"] {
    display: block;
    margin-bottom: 10px;
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    transform: rotateX(90deg);
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: grid;
    max-height: 500px;
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

}

@media (max-width: 700px) {
  .top {
    grid-template-areas:
      "hero hero"
      "cta1 cta2"
  }
  /* About */
  .about {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .top {
    grid-template-areas:
      "hero"
      "cta1"
      "cta2"
  }