body {
  
  background-image: url("img/topography/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
    background-attachment: fixed;
    background-size: 340px, auto;
    background-position: center;
    background-size: cover;
    font-size: 10px;

}
.t-block { }
.t-img { margin-bottom: 20px; }
.t-img img { border-radius: 8px; }

/* Navigation */
#menu .menu-content {
	margin: 0 auto;
	max-width: 1170px;
	padding: 60px 0;
	width: 100%;
	-moz-transition: padding 0.3s;
	-o-transition: padding 0.3s;
	-webkit-transition: padding 0.3s;
	transition: padding 0.3s;
	position: relative;
}
.menu ul {
  display: grid;
  grid-gap: 10px;
  padding: 0;
  list-style: none;
  font-weight: bold;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: #ffc600;
  display: block;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}
  ​
  [aria-controls="menu-list"] 
  {
	display: none;
  }

/* container */

.container {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
  "top1 top1 me1"
  "top1 top1 me2"
}

.top1 {
  grid-area: top1;
  min-height: 390px;
  background: white url(img/little-lagos.jpg);
  background-size: cover;
  background-position: bottom right;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 5px;
}

.top1 > * {
	background:#ffc600;
	padding: 5px;
  }

.me {
  background: linear-gradient(to left bottom, #b6d448 ,#e1f52e, #e2f10a);
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.me p {
  margin: 0;
}

.me1 {
  grid-area: me1;
  background: #ffc600;
  border-radius: 5px;
}

.me2{
  grid-area: me2;
  background: #ffc600;
  border-radius: 5px;
}

.price {
  font-size: 60px;
  font-weight: 100;
  text-align: center;
}

.a{
  text-align: center;
  font-size: large;
  font-family: 'Montserrat', sans-serif;
}


[aria-controls="menu-list"] {
  display: none;
}

/* middles */

.middles {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}

.middle {
  background: white;
  padding: 10px;
  text-align: center;
}

.middle .icon {
  font-size: 70px;
}




.feature {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: left;
  box-shadow: 0 0 4px  rgba(0, 0, 0, 0.801);
  
  font-weight: bold;
}

.feature1 {
  padding: 10px;
 
}

.feature .icon {
  font-size: 50px;
}


button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}


/* Gallery! */

.page-caption { 
  padding-top: 37px; 
  padding-bottom: 37px; 
  color: #121113; 
  background-color: #ffc600;
  text-align: center; 
  width: 100%; 
  border-top-left-radius: 6px; 
  border-top-right-radius: 6px;
}
.page-title {  
  font-size: 36px;
  line-height: 1; 
  color: #222120; 
  font-weight: 300;
  margin-bottom: 0px; }


[aria-expanded="true"] ~ ul {
  display: grid;
  max-height: 500px;
  transform: rotateX(0);
}

[aria-expanded="false"] .close {
  display: none;
}

[aria-expanded="true"] .close {
  display: inline-block;
}

[aria-expanded="true"] .open {
  display: none;
}

}


